@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}




:root {
    --mud-palette-black: #272c34;
    --mud-palette-white: #FFFFFF;
    --mud-palette-primary: #594AE2;
    --mud-palette-primary-text: #FFFFFF;
    --mud-palette-primary-darken: rgb(59,41,221);
    --mud-palette-primary-lighten: rgb(119,107,231);
    --mud-palette-primary-hover: rgba(89,74,226, 0.06);
    --mud-palette-secondary: #FF4081;
    --mud-palette-secondary-text: #FFFFFF;
    --mud-palette-secondary-darken: rgb(255,26,104);
    --mud-palette-secondary-lighten: rgb(255,102,154);
    --mud-palette-secondary-hover: rgba(255,64,129, 0.06);
    --mud-palette-tertiary: #1EC8A5;
    --mud-palette-tertiary-text: #FFFFFF;
    --mud-palette-tertiary-darken: rgb(25,167,138);
    --mud-palette-tertiary-lighten: rgb(45,223,187);
    --mud-palette-tertiary-hover: rgba(30,200,165, 0.06);
    --mud-palette-info: #2196F3;
    --mud-palette-info-text: #FFFFFF;
    --mud-palette-info-darken: rgb(12,131,226);
    --mud-palette-info-lighten: rgb(69,167,245);
    --mud-palette-info-hover: rgba(33,150,243, 0.06);
    --mud-palette-success: #00C853;
    --mud-palette-success-text: #FFFFFF;
    --mud-palette-success-darken: rgb(0,162,67);
    --mud-palette-success-lighten: rgb(0,238,99);
    --mud-palette-success-hover: rgba(0,200,83, 0.06);
    --mud-palette-warning: #FF9800;
    --mud-palette-warning-text: #FFFFFF;
    --mud-palette-warning-darken: rgb(217,129,0);
    --mud-palette-warning-lighten: rgb(255,167,38);
    --mud-palette-warning-hover: rgba(255,152,0, 0.06);
    --mud-palette-error: #F44336;
    --mud-palette-error-text: #FFFFFF;
    --mud-palette-error-darken: rgb(242,33,18);
    --mud-palette-error-lighten: rgb(246,101,90);
    --mud-palette-error-hover: rgba(244,67,54, 0.06);
    --mud-palette-dark: #424242;
    --mud-palette-dark-text: #FFFFFF;
    --mud-palette-dark-darken: rgb(47,47,47);
    --mud-palette-dark-lighten: rgb(85,85,85);
    --mud-palette-dark-hover: rgba(66,66,66, 0.06);
    --mud-palette-text-primary: #424242;
    --mud-palette-text-secondary: rgba(0,0,0, 0.54);
    --mud-palette-text-disabled: rgba(0,0,0, 0.38);
    --mud-palette-action-default: rgba(0,0,0, 0.54);
    --mud-palette-action-default-hover: rgba(0,0,0, 0.06);
    --mud-palette-action-disabled: rgba(0,0,0, 0.26);
    --mud-palette-action-disabled-background: rgba(0,0,0, 0.12);
    --mud-palette-surface: #FFFFFF;
    --mud-palette-background: #FFFFFF;
    --mud-palette-background-grey: #F5F5F5;
    --mud-palette-drawer-background: #FFFFFF;
    --mud-palette-drawer-text: #424242;
    --mud-palette-drawer-icon: #616161;
    --mud-palette-appbar-background: #594AE2;
    --mud-palette-appbar-text: #FFFFFF;
    --mud-palette-lines-default: rgba(0,0,0, 0.12);
    --mud-palette-lines-inputs: #BDBDBD;
    --mud-palette-divider: #E0E0E0;
    --mud-palette-divider-light: rgba(0,0,0, 0.8);
    --mud-palette-grey-default: #9E9E9E;
    --mud-palette-grey-light: #BDBDBD;
    --mud-palette-grey-lighter: #E0E0E0;
    --mud-palette-grey-dark: #757575;
    --mud-palette-grey-darker: #616161;
    --mud-palette-overlay-dark: rgba(33,33,33, 0.5);
    --mud-palette-overlay-light: rgba(255,255,255, 0.5);
    --mud-elevation-0: none;
    --mud-elevation-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --mud-elevation-2: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --mud-elevation-3: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    --mud-elevation-4: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    --mud-elevation-5: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
    --mud-elevation-6: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    --mud-elevation-7: 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12);
    --mud-elevation-8: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    --mud-elevation-9: 0px 5px 6px -3px rgba(0,0,0,0.2),0px 9px 12px 1px rgba(0,0,0,0.14),0px 3px 16px 2px rgba(0,0,0,0.12);
    --mud-elevation-10: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    --mud-elevation-11: 0px 6px 7px -4px rgba(0,0,0,0.2),0px 11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12);
    --mud-elevation-12: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
    --mud-elevation-13: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
    --mud-elevation-14: 0px 7px 9px -4px rgba(0,0,0,0.2),0px 14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12);
    --mud-elevation-15: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
    --mud-elevation-16: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    --mud-elevation-17: 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12);
    --mud-elevation-18: 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12);
    --mud-elevation-19: 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12);
    --mud-elevation-20: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
    --mud-elevation-21: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12);
    --mud-elevation-22: 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12);
    --mud-elevation-23: 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12);
    --mud-elevation-24: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    --mud-elevation-25: 0 5px 5px -3px rgba(0,0,0,.06), 0 8px 10px 1px rgba(0,0,0,.042), 0 3px 14px 2px rgba(0,0,0,.036);
    --mud-default-borderradius: 4px;
    --mud-drawer-width: 240px;
    --mud-appbar-min-height: 64px;
    --mud-zindex-drawer: 1100;
    --mud-zindex-appbar: 1200;
    --mud-zindex-dialog: 1300;
    --mud-zindex-popover: 1400;
    --mud-zindex-snackbar: 1500;
    --mud-zindex-tooltip: 1600;
}
